<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="DB_DSN" value="mysql:dbname=consult_test;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="consult_test" />
    </php>
    <testsuites>
        <testsuite name="Consult Api Test Suite">
            <directory>../src/*Bundle/Tests/Controller/NotificationControllerTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
